
<div class = "wrapper">
<!--  <div  class = "objectwrapper">-->
    <div id = "leftcolumn" class = "styless" *ngFor="let card of rowonecards ">
      <app-object-card
        [listposition] = "1"
        [objectInfo]="card"
        (deselectobject)="cardunselected($event)"
        [id]  ="'oneid-' + card.id"
        (object)="cardSelected($event)"
        [index] = "card.id"

        [graphic] = "card.graphic" ></app-object-card>
    </div>
<!--  </div>-->

<!--  <div  class = "objectwrapperright">-->
    <div id = "rightcolumn" class = "styless" *ngFor="let card of rowtwocards">
      <app-object-card
        [listposition] = "1"
        [objectInfo]="card"
        [id]  ="'twoid-' + card.id"
        (object)="cardSelected($event)"
        [index] = "card.id"

        [graphic] = "card.graphic" ></app-object-card>
    </div>
<!--  </div>-->
</div>
<button (click) = "click()">button</button>
