.objectimage {
  background-color: white;
  padding: 50px;
  //max-width: inherit;
  //min-height: 100%;
}
.data {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
//.image-modal {
//  display: flex;
//  background-color: white;
//  padding: 50px;
//  max-height: 75%;
//  max-width: 75%;
//
//  flex-direction: column;
//}
.n {
  border: 2px white solid;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}
.r {
  border: 2px white solid;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}
