<div>
  <div class = "titlepage">
    <a href = "/" class = "title">COMBINATORICS PLAYGROUND WORKING TITLE</a>
    <div class = "options">
      <a href="/bijection"  class = "option">
        BIJECTIONS
      </a>
      <a href = "/sorting" class = "option">
        SORTING
      </a>
      <a class = "option">
        FREE EXPLORATION
      </a>
      <a class = "option">
        DATABASE
      </a>
    </div>
  </div>
<!--  cdkDropList-->
<!--  #todoList="cdkDropList"-->
<!--  [cdkDropListData]="todo"-->
<!--  [cdkDropListConnectedTo]="[doneList]"-->
<!--  class="example-list"-->
<!--  (cdkDropListDropped)="drop($event)"-->
  <div class = "displaybar"
 >
  @for (card of todo; track card) {
<app-object-card [objectInfo]="{status: 00, description: '',id: 0 ,n: 0,r: 0, graphic : 'test'}"></app-object-card>
  }
  </div>
  <div class = 'bins'>
      @for (item of test; track item) {
        <div>
          <div class = "row" *ngIf="item == 0">
            @for (item of test; track item) {
              <div class = "corner" *ngIf = "item == 0"> </div>
              <div class = "topbox" *ngIf = "item != 0"> {{item}}</div>
            }
          </div>
          <div class = "row" *ngIf = "item != 0">
            @for (items of test; track items) {
              <div class = "sidebox" *ngIf = "items == 0"> {{item}}</div>
              <div class = "box" *ngIf = "items != 0" > </div>
            }
          </div>
        </div>
      }

  </div>
<!--  <div style="display: flex">-->
<!--  <div class="example-container">-->
<!--    <h2>To do</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      #todoList="cdkDropList"-->
<!--      [cdkDropListData]="todo"-->
<!--      [cdkDropListConnectedTo]="[doneList]"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of todo; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>Done</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      #doneList="cdkDropList"-->
<!--      [cdkDropListData]="done"-->
<!--      [cdkDropListConnectedTo]="[todoList]"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of done; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  </div>-->





</div>
