.case {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mxitem {
  position: absolute;
  border: 2px black solid;
  outline-offset: 2px;
  border-radius: 5px;
  padding: 20px;
 // box-shadow: 0px 0px 7px 11px;

  aspect-ratio: 5 / 7;
  display: flex;
  max-width: 100px;
  max-height: 100px;
  /*background-color: #f2f2f2;*/

}
.outline {
  border: 2px gray solid;
  outline-offset: 2px;
}
.objectimage {
  max-width: 100%;
  //height: 144px;
  max-height: 100%;
  overflow: hidden;

}
.image {
  height: 100%;
}
.panel {
  margin: 2px;
}
//.mxitem:hover {
//  outline: 1px solid black;
//}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  width: 100%;
  font: inherit;
  cursor: pointer;

  outline: inherit;
}
.svgbox {
  position:fixed;
  top:50%;
  left:50%;
}
.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    width: 24px;
    height: 24px;

}
.icon:hover {
  text-decoration: none;
  border:none;
}
