<button (click) = "(this.objectInfo.status % 10 != 2)? selectCard() : unselectCard()">
<!--<app-tikz-renderer [style.background-color]="divColor" class = "mxitem case" #renderer cdkDragBoundary = ".wrapper" [cdkDragFreeDragPosition]="dragPosition"    [index]="index" [graphic]="graphic" cdkDrag></app-tikz-renderer>-->
<div [style.background-color]="divColor"     class = "mxitem case"
     (cdkDragMoved)="linemanager()"
     cdkDragBoundary = ".wrapper"
  [cdkDragFreeDragPosition]="dragPosition"
     [cdkDragDisabled]="(this.objectInfo.status % 10 == 2)"
  cdkDrag
>
<!--  <mat-icon aria-hidden="false" class = "icon" fontIcon="menu"></mat-icon>-->
  <img class = "objectimage" [src]='graphic'  alt=""/>
<!--  <div #testspace> N: {{this.objectInfo.n}} </div>-->
<!--  <div #testspace> R: {{this.objectInfo.n}} </div>-->

<!--    <img src="" height="25" alt="">-->
</div>

</button>

