.case {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mxitem {
  border: 2px black solid;
  border-radius: 5px;
  padding: 5px;
  aspect-ratio: 5 / 7;
  /*background-color: #f2f2f2;*/
}
.panel {
  margin: 2px;
}
.mxitem:hover {
  outline: 1px solid black;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  width: 100%;
  font: inherit;
  cursor: pointer;

  outline: inherit;
}
.svgbox {
  position:fixed;
  top:50%;
  left:50%;
}
