<div class = "titlepage">
  <a href = "/" class = "title">COMBINATORICS PLAYGROUND WORKING TITLE</a>
  <div class = "options">
    <a href="/bijection"  class = "option">
      BIJECTIONS
    </a>
    <a href = "/sorting" class = "option">
      SORTING
    </a>
    <a class = "option">
      FREE EXPLORATION
    </a>
    <a class = "option">
      DATABASE
    </a>
  </div>
</div>

<div class = "page">
  <div class = "sorting">
<!--    <div><button>Less than N</button> <select></select></div>-->
<!--    <div><button>N equals</button> <select></select></div>-->
<!--    <div><button>R equals </button> <select></select></div>-->


  </div>
  <div class = "selectors">

</div>
<div>
  <div class = "Playgroundplanner">
    <div class = "groupselectors">
       <select   (ngModelChange)="onleftobjectSelectChange($event)" [(ngModel)] = "this.Left_set_description" class="objectdropdown">
          <option disabled value="">Left Object</option>
          <option
          *ngFor="let option of Set_options"
          [value]="option">
          <!--      [selected]="option === nrSelect"-->
          {{ option }}
        </option>

      </select></div>
      <div>
      <select   (ngModelChange)="onrightobjectSelectChange($event)" [(ngModel)] = "this.Right_set_description" class="objectdropdown">
        <option disabled value="">Right Object</option>

        <option
          *ngFor="let option of Set_options"
          [value]="option">
          <!--      [selected]="option === nrSelect"-->
          {{ option }}
        </option>

      </select></div>
    </div>
    <div class = "Numbers">
      <div class = "number"> Number of cards:
        <select (ngModelChange)="onKSelectChange($event)" [(ngModel)] = "this.Current_K" class="numberdropdown">
          <option
            *ngFor="let option of Ks"
            [value]="option">
            <!--      [selected]="option === nrSelect"-->
            {{ option }}
          </option>


        </select>
      </div>
    </div>

    <button (click)="generate_playground_canvas()">
      Generate
    </button>
  </div>



</div>
