<div class = "titlepage">
  <a href = "/" class = "title">COMBINATORICS PLAYGROUND WORKING TITLE</a>
  <div class = "options">
    <a href="/bijection"  class = "option">
      BIJECTIONS
    </a>
    <a href = "/sorting" class = "option">
      SORTING
    </a>
    <a class = "option">
      FREE EXPLORATION
    </a>
    <a class = "option">
      DATABASE
    </a>
  </div>
</div>

<div class = "page">
  <div class = "sorting">
<!--    <div><button>Less than N</button> <select></select></div>-->
<!--    <div><button>N equals</button> <select></select></div>-->
<!--    <div><button>R equals </button> <select></select></div>-->
    <div class = "number"> N =
   <select (ngModelChange)="onNSelectChange($event)" [(ngModel)] = "this.Current_N" class="numberdropdown">
    <option
      *ngFor="let option of N"
      [value]="option">
<!--      [selected]="option === nrSelect"-->
      {{ option }}
    </option>


   </select>
    </div>
<!--    </div>-->
    <button> Less than</button>
    <button>Equal To</button>
       <div class = "number"> R  =     <select class="numberdropdown">
         <option
           *ngFor="let option of N"
           [value]="option">
           <!--      [selected]="option === nrSelect"-->
           {{ option }}
         </option>
       </select>
       </div>

  </div>
  <div class = "selectors">
    <select (ngModelChange)="onleftobjectSelectChange($event)" [(ngModel)] = "this.Left_set_description" class="objectdropdown">
      <option
        *ngFor="let option of Set_options"
        [value]="option">
        <!--      [selected]="option === nrSelect"-->
        {{ option }}
      </option>

    </select>
    <select (ngModelChange)="onclassSelectChange($event)" [(ngModel)] = "this.class" class="classdropdown">
      <option
        *ngFor="let option of class_options"
        [value]="option">
        <!--      [selected]="option === nrSelect"-->
        {{ option }}
      </option>

    </select>
    <select (ngModelChange)="onrightobjectSelectChange($event)" [(ngModel)] = "this.Right_set_description" class="objectdropdown">
      <option
        *ngFor="let option of Set_options"
        [value]="option">
        <!--      [selected]="option === nrSelect"-->
        {{ option }}
      </option>

    </select>
</div>
<div class = "wrapper">
<!--  left most column-->
  <div  class = "objectwrapper">
    <ul id = "leftcolumn" class = "styless" *ngFor="let card of rowonecards ">
      <app-object-card
        [listposition] = "1"
        [objectInfo]="card"
        (deselectobject)="cardunselected($event)"
        [id]  ="'oneid-' + card.id"
        (object)="cardSelected($event)"
        [index] = "card.id"
        [graphic] = "card.graphic" ></app-object-card>

    </ul>
  </div>
<!-- Middle column that handles connection logic -->
  <div class = "centerstrip">
    <div #leftmiddlecolumn  id = 'leftmiddlecolumn' class = "left objectwrapper column">
<!--      <ul class = "styless" *ngFor="let card of rowonecards">-->
<!--        <app-object-card-->
<!--          class = "connected"-->
<!--          [listposition] = "1"-->
<!--          [objectInfo]="{status: 12,description: '',graphic: '',id: card.id ,n: -1,r: -1 }"-->
<!--          [id]  ="'left-' + card.id"-->
<!--          (object)="cardSelected($event)"-->
<!--          (deselectobject)="cardunselected($event)"-->
<!--          [index] = "card.id"-->
<!--          [graphic] = "card.description" ></app-object-card>-->
<!--      </ul>-->
    </div>
    <div #rightmiddlecolumn  id ='rightmiddlecolumn' class = "right objectwrapper column"></div>
  </div>
<!--  Right most column-->
  <div  class = "objectwrapper">
    <ul id = "rightcolumn" class = "styless" *ngFor="let card of rowtwocards">
    <app-object-card
      [listposition] = "1"
      [objectInfo]="card"
      [id]  ="'twoid-' + card.id"
      (object)="cardSelected($event)"
      [index] = "card.id"
      [graphic] = "card.graphic" ></app-object-card>
  </ul>
  </div>
</div>
</div>
